{% for child2 in child.children %}
<div class="show-gallery">
  <!--<img src="/assets/loading.gif" alt="loading" class="slider-loading" style:"display:block !important;">-->
  <p><b>{{child2.name}}</b></p>
 {% if child2.has_meta_image? %}
  <a class="img-head" href="{{ child2.url }}" style="background: url({{ child2.meta_image_url }}) center no-repeat;background-size:cover;height:250px;display:block"></a>
  {% else %}
  {% for feature in child2.features limit:1%}
  <img src="{{ feature.image_url }}" style="height:250px"/>
  {% endfor %}
  {% endif %}
  <div class="gallery-description">
  {{child2.basic.content}}
    <a href="{{child2.url}}" class="button">See the gallery</a>
  </div>
    
    
  {% comment %}
  <ul class="slides clearfix" >
    {% for feature in child2.features %}
    <li>
      <a href="{{ feature.page.url }}">
        <img src="{{ feature.image_url }}" height="{{ feature.image_height }}" width="{{ feature.image_width }}"/>
      </a>
      {% if feature.headline.size > 0 %}
      <a class="features-headline desktop-visible" href="{{ feature.page.url }}">{{ feature.headline }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endcomment %}
  
</div>
{% endfor %}